* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: aquamarine;
}

.artigos {
  display: flex;
  width: 100%;
  flex-direction: row;
  gap: 25px;
  background-color: azure;
  flex-wrap: wrap;
  justify-content: center;
}
.artigos a {
  text-decoration: none;
  color: rgb(93, 91, 91);
  display: flex;
  min-width: 375px;
  min-height: 50px;
  justify-content: center;
  align-items: center;
  border: solid 1px #000;
  border-radius: 5px;
  font-family: Roboto, sans-serif;
  font-size: 18px;
}
@media screen and (max-width: 640px) {
  .artigos a {
    flex-wrap: nowrap;
    width: 200px;
    max-width: 200px;
    font-size: 14px;
    background-color: rgb(224, 243, 243);
  }
  .b1 {
    font-size: small;
  }
  .b1 h2 {
    font-size: 14px;
  }
  .naveg a {
    font-size: 16px;
    font-weight: bold;
    margin-top: 25px;
  }
  .artigos {
    gap: 5px;
  }
  footer h4 {
    text-align: center;
  }
  footer {
    gap: 25px;
  }
  .contact-dev {
    gap: 0.5rem;
    margin-right: 10px;
  }
  .IM {
    margin-right: 50px;
  }
  .livros {
    margin-left: 30%;
  }
  .contatos-autor h1 {
    font-size: 22px;
  }
  .contatos-autor {
    gap: 25px;
  }
  .links-contatos {
    flex-direction: column;
  }
  .links-contatos div {
    display: flex;
    flex-direction: column;
    gap: 1px;
  }
  .linkrs {
    font-size: 12px !important;
  }
  .gettrIcon {
    width: 10px !important;
    height: 10px !important;
  }
}
.sobre {
  font-family: Roboto, sans-serif;
  display: flex;
  margin: 15px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
  line-height: 2rem;
}
.livros {
  width: 150px;
  margin-right: 85%;
}
.sobre a {
  font-size: larger;
  font-weight: 600;
  text-decoration: none;
  color: rgb(8, 1, 63);
}
.imgML {
  width: 25%;
  border-radius: 40%;
}
.topo {
  font-family: Roboto, sans-serif;
  padding-right: 25px;
  background-color: azure;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.topo a {
  font-size: larger;
  text-decoration: none;
  color: rgb(105, 100, 100);
}
.IM {
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.IM strong {
  margin-top: 10px;
}
.bodyA {
  background-color: rgb(245, 245, 245);
  margin: 0;
}
.b1 {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Roboto, sans-serif;
  color: azure;
}
.b1 a {
  font-weight: 900;
}
.cabecalho {
  background-color: rgb(0, 204, 255);
  margin-bottom: 15px;
  min-height: 5rem;
}
.naveg a {
  text-decoration: none;
  font-family: Roboto, sans-serif;
  font-size: 1rem;
  color: rgb(255, 249, 249);
}
.naveg {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 35px;
  background-color: rgb(0, 204, 255);
  color: white;
  font-family: Roboto, sans-serif;
  margin-bottom: 0;
}
.contact-dev a {
  color: white;
}
.contact-dev {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
.titulo {
  text-decoration: underline;
}
.contatos-autor {
  background-color: rgb(0, 153, 255);
  border-top: solid blue 2px;
  border-bottom: solid blue 2px;
  margin-bottom: 5px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  width: 98.9vw;
  height: 170px;
  font-family: Roboto, sans-serif;
  color: white;
}
.dots {
  color: blue;
  font-weight: 900;
}
.links-contatos {
  display: flex;
  flex-wrap: nowrap;
  margin-right: 50px;
}
.links-contatos a {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  font-family: Roboto, sans-serif;
  color: azure;
  font-size: 26px;
  text-decoration: none;
}
.links-contatos a i {
  margin-right: 10px;
}
.links-contatos div {
  margin-left: 35px;
}
.contatos-autor img {
  margin-right: 25px;
}
.gettrIcon {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 0.3rem;
}
.ultimo-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  background-color: aquamarine;
}
.ultimo-artigo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 3rem;
  border: 2px solid rgb(0, 26, 255);
  border-radius: 10px;
}
.ultimo-artigo a {
  text-decoration: none;
  font-family: Roboto, sans-serif;
  font-size: large;
  font-weight: bold;
}
