.artigos {
  display: flex;
  flex-direction: row;
  gap: 25px;
  background-color: azure;
  flex-wrap: wrap;
  justify-content: center;
}
.artigos a {
  display: flex;
  min-width: 375px;
  min-height: 50px;
  justify-content: center;
  align-items: center;
  border: solid 1px #000;
  border-radius: 5px;
  font-family: Roboto, sans-serif;
  font-size: 18px;
}
